{% extends 'base.html.twig' %}

{% block body %}
     <div class="container">
         <a href="{{ path('create_quiz') }}" class="btn btn-success my-5">Stwórz quiz <i class="ml-2 fa fa-plus"></i></a>
         <div class="d-flex flex-wrap">
         {% for quiz in quizzes %}
             <div class="card m-3" style="width: 18rem;">
                 <div class="card-body">
                     <h5 class="card-title">{{ quiz.name }}</h5>
                     <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                     <a href="{{ path('questions', {quiz: quiz.id}) }}" class="btn btn-primary">Zobacz pytania</a>
                     <a href="{{ path('game_start_quiz', {quiz: quiz.id}) }}" class="btn btn-success mt-2">Rozpocznij quiz</a>
                 </div>
             </div>
         {% endfor %}
         </div>
     </div>
{% endblock %}